body {
    background-color:  black;
    color: white;
    text-align: center;
}
h2 {
    font-family: 'Raleway', sans-serif;

}
#one {
    height: 100px;
    width: 100px;
    
  display: inline-block;
  }
 #two {
    height: 100px;
    width: 100px;
    
      display: inline-block;
 }

 button {
     border: 2px solid white;
     font-size: 27px;
 }